body {
  padding-top: 10px;
  min-height: 75rem;
}
.login{
  background-color: #DCEAED;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content{
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.lyrics.musiclist {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #DCEAED;
}

.form-stuff{
  background-color: #DCEAED;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.footerhdr{
  font-size: 10px;
}

.footer {
	background-color: #7aa2b3;
}

h1{
  color: #FF545C;
} 

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

a{
  color: #FF545C;
}

ul{
	list-style-type: none;
}

li {
	list-style-type: none;

}
  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #325568;
   text-decoration: none;
  background-color: #325568;  /*change color of links in drop down here*/
 	list-style-type: none;

   } 
   
   /* navbar */
.navbar-inverse {
    background-color: #325568;
    border-color: #325568;
}

#right { display:none; } 

#toggle {
}

#linkit {
    cursor:pointer;
	color: blue;
}



.nav-item a:hover{
    background-color: #7aa2b3;
}
