body {
  padding-top: 10px;
  min-height: 75rem;
}

.login{
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
}
.content{
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.svg_container{
  left: 0;
  height: 40%;
  width: 80%;
}

.form-stuff{
  background-color: rgb(255, 255, 255);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.form-control:hover{
  border-color: #B82601
}

.footerhdr{
  font-size: 10px;
  background-color: #B82601
}

.footer {
  background-color: rgb(0, 0, 0) !important;
}

h1, h2{
  color: #B82601;
} 

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.btn {
  background-color: rgb(0, 0, 0);
  border-color: white;
  color: white
}

.btn:hover{
  background-color: white !important;
  border-color: black !important;
  color: black !important
}
a{
  color: #B82601;
}

ul{
	list-style-type: none;
}

li {
	list-style-type: none;

}
  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: rgb(0, 0, 0);
   text-decoration: none;
  background-color: rgb(255, 255, 255);  /*change color of links in drop down here*/
 	list-style-type: none;

   } 
   
   /* navbar */
.navbar-inverse {
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
    color: #ffffff
}

.nav-item a:hover{
  -webkit-transition: background .25s, border-radius .25s;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    color: #000000 !important
}

.sidenav {
  top: 100%;
  transform: translateY(10%);
  height: 80%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: rgb(0, 0, 0); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-radius: 15px;
}

#right { display:none; } 

#toggle {
}

#linkit {
    cursor:pointer;
	color: rgb(0, 0, 255);
}