{% extends "base.html" %}
{% block title %}Diagram Creation{% endblock %}
{% block content %}
    <svg xmlns="http://www.w3.org/2000/svg" id="svg_id"></svg>
    <br>
    <div class="sidenav">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="type" id="concave" autocomplete="off"> Concave
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="type" id="convex" autocomplete="off"> Convex
            </label>
          </div>
    <br>
    <button class="btn" id="clear">Clear</button>
    <br>
    <button class="btn" id="save">Save Diagram</button>
</div>
    <script src ="{{ url_for('static', filename='js/diagram.js') }}"></script>
{% endblock %}
