{% extends "base.html" %} {% block head %}
<script src="{{ url_for('static', filename='js/svg-pan-zoom.min.js') }}"></script> {% endblock %} {% block title %}Diagram Creation{% endblock %} {% block sidebar %}

<nav id="sidebar">
      <div class="sidebar-header">
            <h3>Settings</h3>
      </div>
      <ul class="list-unstyled CTAs">
            <center>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons" id="radioDiv">
                        <label class="btn btn-secondary active">
                              <input type="radio" name="type" id="concave">Concave
                        </label>
                        <label class="btn btn-secondary">
                              <input type="radio" name="type" id="convex">Convex
                        </label>
                  </div>
                  <div class="form-group" style="color:white;">
                        <label for="focus">Focal Length</label>
                        <input name="focus" type="text" class="form-control" id="focus" placeholder="Enter a focal length">
                  </div>
                  <div class="form-group" style="color:white;">
                        <label for="oHeight">Object Height</label>
                        <input name="oHeight" type="text" class="form-control" id="oHeight" placeholder="Enter an object height">
                  </div>
                  <div class="form-group" style="color:white;">
                        <label for="oDist">Object Distance</label>
                        <input name="oDist" type="text" class="form-control" id="oDist" placeholder="Enter an object distance">
                  </div>
                  <div class="form-group" style="color:white;">
                        <label for="iDist">Image Distance</label>
                        <input name="iDist" type="text" class="form-control" id="iDist" readonly="readonly" placeholder="null">
                  </div>
                  <div class="form-group" style="color:white;">
                        <label for="iHeight">Image Height</label>
                        <input name="iHeight" type="text" class="form-control" id="iHeight" readonly="readonly" placeholder="null">
                  </div>
                  <button class="btn" id="save">Save Diagram</button>
                  <br>
                  <br>
                  <button class="btn" id="download">Download Diagram</button>
            </center>
      </ul>
</nav>
{% endblock %} 

{% block sidebarButton %}
<div class="navbar-left">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-align-left"></i>
              </button>
        </div>
        {% endblock %}

{% block content %}
<div class="svg_container" id="container">
      <svg xmlns="http://www.w3.org/2000/svg" id="svg_id" viewBox="0 0 1280 500" height=500 width=100%></svg>
</div>
<canvas id="canvas" hidden></canvas>
{% endblock %} {% block customscript %}
<script src="{{ url_for('static', filename='js/diagram.js') }}"></script>
<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script> {% endblock %}