{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2> About:</h2>
    Our project is an active lens diagram generator. Users are able to adjust the object distance, object height, concave vs convex lens, and focal length and have a ray diagram actively constructed. This can also be used as a calculator because it provides the image height and distance. The diagram is responsive and zooms in and out, as well as pans using either the button overlay or the mouse and scroll wheel. Users who are logged in will be provided the option to save their diagram under a unique ID to come back to from their profile to continue working, or share the link and let others view their diagram. Users may also download the diagrams as a png image which would be useful if you had a lab report for example.
<br>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/aRsWk4JZa5k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></center>
<br>
{% endblock %}