{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<h1>{{username}}</h1>
<br>
<div class="containter">
  <div class="row">
    <div class="col-md-8">  </div>
    
    <div class="col-md-4">  </div>
  </div>
</div>

{% for s in sessions %}
<a href="diagram?h={{s[0]}}">
  <div>
    Focus: {{s[1]}}
    Object Height: {{s[2]}}
    Object Distance: {{s[3]}}
  </div>
</a>
{% endfor %}

<div class="modal-body row">
    <div class="col-md-4 container login">
      <form method="POST" action="/changepass">
	<div class="form-group">
          <label for="oldpass">Current Password</label>
          <input name="oldpass" type="password" class="form-control" id="username" placeholder="Enter current password">
	</div>
	<div class="form-group">
          <label for="newpass">New Password</label>
          <input name="newpass" type="password" class="form-control" id="password" placeholder="Enter new password">
	</div>
	<input class="btn btn-info btn-block" type="submit" name="form" value="Submit">
      </form>
</div>
<!--Things to do:
<ul>
    <li>Display links to owned diagrams</li>
    <li>Option to change password</li>
</ul>-->
{% endblock %}
