{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<h1>{{username}}</h1>
<br>
<div class="containter">
  <div class="row">
    <div class="col-md-8">  </div>
    
    <div class="col-md-4">  </div>
  </div>
</div>

<div class="row">
  {% for s in sessions %}
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
	<h4 class="card-header">Session {{s[0]}}</h4>
	<p class="card-text">
	  Focus: {{s[1]}}
	  <br>
	  Object Height: {{s[2]}}
	  <br>
      Object Distance: {{s[3]}}
	  <br>
	  Lens: {% if s[4] == -1 %}
	  Concave
	  {% elif s[4] == 1 %}
	  Convex
	  {% else %}
	  None
	  {% endif %}
	</p>
	<a href="diagram?h={{s[0]}}" class="btn btn-primary">View session</a>
	<br><br>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="modal-body row bot">
  <div class="col-md-4"></div>
  <div class="col-md-4 container login">
    <form method="POST" action="/changepass">
      <div class="form-group">
        <label for="oldpass">Current Password</label>
        <input name="oldpass" type="password" class="form-control" id="username" placeholder="Enter current password">
      </div>
      <div class="form-group">
        <label for="newpass">New Password</label>
        <input name="newpass" type="password" class="form-control" id="password" placeholder="Enter new password">
      </div>
      <input class="btn btn-info btn-block" type="submit" name="form" value="Submit">
    </form>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock %}
