{% extends "base.html" %}

{% block title %}
Create
{% endblock %}

{% block content %}
<div class="grid-container full-screen">
  <div class="grid-x grid-padding-x full-screen">
    <div class="large-3 cell"></div>
    <div class="small-12 large-6 cell text-center vertical-center">
      <div class="grid-x grid-padding-x">

        <div class="large-12 cell">
          <h2>Create an Account</h2>
          <hr>
        </div>
        <div class="large-12 cell">
          <form method="POST" action="">
            <div class="grid-x grid-padding-x">

              <div class="medium-6 large-6 cell">
                <label>First Name
                  <input type="text" name="fname" placeholder="Jane">
                </label>
              </div>

              <div class="medium-6 large-6 cell">
                <label>Last Name
                  <input type="text" name="lname" placeholder="Doe">
                </label>
              </div>

              <div class="large-12 cell">
                <label>Email
                  <input type="text" name="email" placeholder="jdoe@stuy.edu">
                </label>
                <p class="help-text">You must use a stuy.edu email.</p>
              </div>

              <div class="medium-6 large-6 cell">
                <label>Password
                  <input type="password" name="password1">
                </label>
              </div>

              <div class="medium-6 large-6 cell">
                <label>Retype Password
                  <input type="password" name="password2">
                </label>
              </div>

              <div class="large-12 cell">
                <a href="{{ url_for('login') }}">Already have an account?</a><hr>
              </div>
              
	      <div class="large-12 cell">
		<input class="checkbox" type="checkbox" name="terms">
		I have read and agree to the disclaimer in the
		<a href="{{ url_for('index') + '#about' }}" value="About Us">
		  About Us
		</a>
	      </div>

              <div class="large-12 cell">
                <input class="button round" type="submit">
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="large-3 cell"></div>
</div>
</div>
{% endblock %}
